# pycharm
.idea

# Generated outputs
outputs/*/*
!outputs/*/README.md

# Package installation files
*.egg-info

# Python cache files
__pycache__

# Log directory
log

# Directories with downloaded AMY and TMY EPW files
lib/diyepw/diyepw/files/tmy_epw_files/*.epw
lib/diyepw/diyepw/files/noaa_isd_lite_files/*.gz
